<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Conecta 4</title>
  <link rel="stylesheet" href="app.component.css">
</head>

<body>
  <h1>JUEGO CONECTA 4</h1>
  <h2 id="ganador"> {{ganador}}</h2>
  <div *ngIf="gameOver==false">
    <ng-container *ngFor="let item of opciones">
      <button id="opcion"
        type="button" (click)="colocarPieza(item)">
        {{item}}
      </button>
    </ng-container>
  </div>


  <div id="tablero">

    <ng-container *ngFor="let arrayinside of tablero">
      <ng-container *ngFor="let jugador of arrayinside">
        <div *ngIf="jugador == 0" id="vacio"></div>
        <div *ngIf="jugador == 1" id="jugador1"></div>
        <div *ngIf="jugador == 2" id="jugador2"></div>
      </ng-container>
    </ng-container>
  </div>
  
</body>
</html>