body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

#tablero{
    width: 630px;
    height: 540px;
    background-color: darkgray;

    border: solid 5px grey;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

#opcion{
    width: 80px;
    margin: 5px;
    background-color: darkgray;
    border: solid 3px grey;
    border-radius: 20%;
}

#vacio{
    height: 80px;
    width: 80px;
    margin: 5px;

    background-color: white;
    border-radius: 50%;

}

#jugador1{
    height: 70px;
    width: 70px;
    margin: 5px;

    background-color: red;
    border-radius: 50%;
    border: solid 5px darkred;

}

#jugador2{
    height: 70px;
    width: 70px;
    margin: 5px;

    background-color: blue;
    border-radius: 50%;

    border: solid 5px darkblue;

}