<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Conecta 4</title>
  <link rel="stylesheet" href="app.component.css">
</head>

<header>
  <div id="portada">
    <app-header ></app-header>
  </div>
</header>


<body>

<div class="container">

  <div class="row">

    <!---------- JUGADORES ------------------>
    
    <div class="col-md-6" id="jugadores">

      <app-jugadores (asignarNombre1)="nombre1 = $event"
                      (asignarNombre2)="nombre2=$event"
                      (limpiarTablero)="tablero=$event"
                      (cambiaGameOver)="gameOver=$event"
                      [mensaje]="mensaje">
      </app-jugadores>



    </div>

    <!---------------------- TABLERO --------------->

    <div class="col-md-6">

      <app-tablero [nombre1]="nombre1" 
                  [nombre2]="nombre2"
                  [tablero]="tablero"
                  [gameOver]="gameOver"
                  (cambiaMensaje)="mensaje=$event">
      </app-tablero>

    </div>

  </div>

</div>
</body>
<footer>
  <div>
    <h5 id="pie"> Aaron Carrasco/ Matías Escarate - Desarrollo Frontend con Angular (2022)</h5>
  </div>
</footer>
</html>