<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Conecta 4</title>
  <link rel="stylesheet" href="app.component.css">
</head>

<body>
  <h1>JUEGO CONECTA 4</h1>
<div class="row">
  <div class="col-md-6" id="jugadores">
    <div>
      <button type="button" (click)="nuevoJuego()" [disabled]="inicio == true">NuevoJuego</button>
      <button type="button" (click)="comenzarJuego()" [disabled]="inicio== false">Comenzar</button>
    </div>
    <div id="players">
      <h3>Jugador/a 1:</h3>
      <div class="row">
        <div class="col-md-4">
          <input type="text" [(ngModel)]="nombre1">
        </div>
        <div id="mJugador1"></div>
      </div>
      <h3>Jugador/a 2:</h3>
      <div class="row">
        <div class="col-md-4">
          <input type="text" [(ngModel)]="nombre2">
        </div>
        <div id="mJugador2"></div>
      </div>
    </div>
    <h2 align="left">Mensajes</h2>
    <div>
      <h3 id="ganador"> {{mensaje}}</h3>
    </div>
  </div>

  <div class="col-md-6">

    <!-- <div *ngIf="gameOver==false"> -->
    <div>
      <ng-container *ngFor="let item of opciones">
        <button id="opcion"
          type="button" (click)="colocarPieza(item)" [disabled]="gameOver">
          {{item}}
        </button>
      </ng-container>
    </div>
  
  
    <div id="tablero">
  
      <ng-container *ngFor="let arrayinside of tablero">
        <ng-container *ngFor="let jugador of arrayinside">
          <div *ngIf="jugador == 0" id="vacio"></div>
          <div *ngIf="jugador == 1" id="jugador1"></div>
          <div *ngIf="jugador == 2" id="jugador2"></div>
        </ng-container>
      </ng-container>
    </div>
  </div>
</div>
  
</body>
</html>