<div>
    
    <ng-container *ngFor="let item of opciones">
      <button id="opcion"
        type="button" (click)="colocarPieza(item)" [disabled]="gameOver">
        {{item}}
      </button>
    </ng-container>
  </div>


  <div id="tablero">

    <ng-container *ngFor="let arrayinside of tablero">
      <ng-container *ngFor="let jugador of arrayinside">
        <div *ngIf="jugador == 0" id="vacio"></div>
        <div *ngIf="jugador == 1" id="jugador1"></div>
        <div *ngIf="jugador == 2" id="jugador2"></div>
        <div *ngIf="jugador == 3" id="ganadorRojo"></div>
        <div *ngIf="jugador == 4" id="ganadorAzul"></div>
      </ng-container>
    </ng-container>
  </div>
